@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@custom-variant dark (@media (prefers-color-scheme: dark));

@theme inline {
    --color-pink: var(--pink);
    --color-lime: var(--lime);
    --color-amber: var(--amber);
    --color-purple: var(--purple);

    --shadow-nb: 3px 3px 0px 0px var(--color-shadow-nb);
    --shadow-nb-sm: 2px 2px 0px 0px var(--color-shadow-nb);
    --shadow-nb-active: 0px 0px 0px 0px var(--color-shadow-nb);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);

    --radius-lg: var(--radius);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);

    --font-jakarta-bold: PlusJakartaSansBold;
    --font-jakarta-light: PlusJakartaSansLight;
    --font-jakarta-medium: PlusJakartaSansMedium;
    --font-jakarta-regular: PlusJakartaSansRegular;
    --font-jakarta-semibold: PlusJakartaSansSemiBold;
    --font-jakarta-extrabold: PlusJakartaSansExtraBold;
}

:root {
    --white: oklch(1 0 0);
    --black: oklch(0 0 0);
    --lime: oklch(84.1% 0.238 128.85);
    --amber: oklch(87.9% 0.169 91.605);
    --pink: oklch(71.8% 0.202 349.761);
    --purple: oklch(71.4% 0.203 305.504);

    --color-shadow-nb: rgba(0, 0, 0, 1);

    --radius: 0.625rem;

    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);

    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);

    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);

    --primary: #1d4ed8;
    --primary-foreground: oklch(0.985 0 0);

    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);

    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);

    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);

    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(1 0 0);

    --ring: oklch(0.708 0 0);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
}

@media (prefers-color-scheme: dark) {
    :root {
        --white: oklch(1 0 0);
        --black: oklch(0 0 0);
        --lime: oklch(76.8% 0.233 130.85);
        --pink: oklch(65.6% 0.241 354.308);
        --amber: oklch(82.8% 0.189 84.429);
        --purple: oklch(62.7% 0.265 303.9);

        --color-shadow-nb: rgba(255, 255, 255, 1);

        --radius: 0.625rem;

        --background: oklch(0.145 0 0);
        --foreground: oklch(0.985 0 0);

        --card: oklch(0.205 0 0);
        --card-foreground: oklch(0.985 0 0);

        --popover: oklch(0.205 0 0);
        --popover-foreground: oklch(0.985 0 0);

        --primary: #1d4ed8;
        --primary-foreground: oklch(0.205 0 0);

        --secondary: oklch(0.269 0 0);
        --secondary-foreground: oklch(0.985 0 0);

        --muted: oklch(0.269 0 0);
        --muted-foreground: oklch(0.708 0 0);

        --accent: oklch(0.269 0 0);
        --accent-foreground: oklch(0.985 0 0);

        --destructive: oklch(0.704 0.191 22.216);
        --destructive-foreground: oklch(1 0 0);

        --border: oklch(1 0 0 / 10%);
        --input: oklch(1 0 0 / 15%);
        --ring: oklch(0.556 0 0);
    }
}
